@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmacion de contraseña olvidada";
}

<h1>@ViewData["Title"]</h1>
<p>
    Porfavor verifica tu correo para restablecer tu contraseña.
</p>
