@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmacion de reestablecimiento de contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Tu contraseña ha sido restablecida. Por favor. <a asp-page="./Login">Haga clic aquí para iniciar sesión</a>.
</p>
